@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
}

.profile {
    height: 40em;
    width: 27em;
    border-radius: 1em;
    padding: 2em 3em;
    background-color: hsl(0, 0%, 8%);
    text-align: center;
}

.profile .img img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin-bottom: 1em;
}

.profile h1 {
    font-size: 1.8em;
    margin-bottom: .5em;
}

.profile span {
    color:  hsl(75, 94%, 57%);
    font-size: 1em;
    font-weight: 600;
}

.profile .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.profile .links a {
    color: #ffffff;
    text-decoration: none;
    margin: .5em;
    height: 3em;
    width: 100%;
    border-radius: .5em;
    font-weight: 700;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-in-out;
}

.profile p {
    margin-top: 3em;
    font-size: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 375px){
    .profile {
        width: 85%;
    }
    html {
        font-size: 60%;
    }
}
@media screen and (max-width: 425px){
    .profile {
        width: 90%;
    }
    html {
        font-size: 70%;
    }
}